<div id="wrapper">
	<div id="main">
		<div class="text-xl font-mono w-full max-w-5xl p-10 flex-col">

				<h3 class="my-auto pb-4 text-white"> Error 404, This page does not exist...</h3>
				<a href="/" class="bg-white text-black rounded-full px-4 py-2"> Home </a>
		</div>
	</div>
</div>